.app {
  display: flex;
}

.product-list {
  flex: 10;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  row-gap: 5px;
}

.order-confirmation {
  z-index: 1;
  position: absolute;
  display: flex;
}
