.app {
  display: flex;
}

#root {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.product-list {
  flex: 10;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  row-gap: 5px;
}
