.cart-container {
  padding: 0 1.5rem 2rem;
  flex: 2;
  display: flex;
  font-family: regular, sans-serif;
  flex-direction: column;
  width: 22rem;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  position: sticky;
  right: 1rem;
  top: 2.5rem;
  bottom: 0;
}

.cart-overlay {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  height: fit-content;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-header > h2 {
  font-size: 1.7rem;
  font-family: bold-font, sans-serif;
  color: var(--red);
}

.empty-cart-img {
  width: 14rem;
  align-self: center;
}

.cart-item {
  font-size: 1rem;
}

.remove-btn,
.new-order-btn {
  width: 20px;
  height: 20px;
  font-size: 60%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid var(--rose);
  border-radius: 100%;
  color: var(--rose);
  cursor: pointer;
}

.remove-btn:hover,
.new-order-btn:hover {
  border: 1.5px solid var(--dark-rose);
  color: var(--dark-rose);
  font-weight: 900;
  transition: border 0.05s ease-in-out;
}

.price-details {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.item-total,
.item-count,
.price-per-item {
  font-size: 1rem;
}
h3 {
  font-family: medium-font, "sans serif";
  font-weight: bold;
  font-size: 1rem;
}

.cart-total {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--rose);
}

#order-total {
  color: black;
  font-family: bold-font, sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.cart-content {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#carbon-neutral {
  padding: 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  background-color: var(--lightest-rose);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 0.1rem;
}

strong {
  font-weight: bold;
}

.end-dialogue {
  display: flex;
  gap: 1rem;
  margin-top: 1.6rem;
}

.confirm {
  height: 2.5rem;
  border-radius: 999px;
  border: none;
  background-color: var(--red);
  color: white;
  font-family: regular, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  padding: 0 10px;
  width: 100%;
}

@media (max-width: 1150px) {
  .confirm {
    width: 50%;
  }
}

.confirm:hover {
  background-color: hsl(14, 89%, 32%);
  transition: background-color 0.22s ease-in-out;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exit-btn {
  border: 2px solid var(--red);
  background-color: white;
  border-radius: 999px;
  height: 2.5rem;
  font-family: regular, sans-serif;
}
