:root {
  --red: hsl(14, 86%, 42%);
  --product-font-size: 16px;
  --brand-font-size: 14px;
}

.product-card {
  align-items: center;
  width: 230px;
  /* height: 100%; */
  padding: 1rem;
  border-radius: 10%;
  background-color: white;
}

.product-image-container {
  display: flex;
  flex-direction: column;
}

.add-to-cart-btn {
  position: relative;
  bottom: 1.9em;
  height: 3em;
  width: 65%;
  gap: 8px;
  align-self: center;
  display: inline-flex;
  align-items: center;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 999px;
  padding: 10px 20px;
  font-family: regular, sans-serif;
  font-size: 14px;
  color: #484848;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.add-to-cart-btn:hover {
  transition: border-color 0.2s ease-in-out;
  border: 2px solid var(--red);
}

.counter-btn {
  width: 142px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: relative;
  bottom: 1.9em;
  height: 2em;
  z-index: 1;
  background: var(--red);
  color: white;
  border-radius: 9999px;
  padding: 6px 10px;
  font-weight: bold;
}

.icon-btn > span {
  padding: 0;
  align-self: center;
  justify-self: center;
}

.icon-count-btn {
  display: flex;
  background: none;
  height: 25px;
  width: 25px;
  padding: 2px;
  text-align: center;
  border: 1px solid white;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  color: white;
  font-size: 18px;
  padding: 6px 10px;
  cursor: pointer;
}

.icon-btn:hover {
  background: white;
  color: var(--red);
  transition: background-color 0.2s ease-in-out;
}

.count {
  margin: 0 10px;
  font-size: 16px;
}

.product-image-container img {
  border-radius: 10px;
}

/* #decrease-btn {
  justify-self: flex-start;
}

#increase-btn {
  justify-self: flex-end;
} */

.product-details {
  align-self: flex-start;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  gap: 0.5em;
}

.brand {
  font-family: medium, sans-serif;
  font-size: var(--brand-font-size);
  color: #6e6e6e;
}

.product-details * {
  margin: 0;
  font-family: reqular, sans-serif;
  padding: 0;
}

.product-name {
  font-family: medium, sans-serif;
  font-size: var(--product-font-size);
  color: #484848;
}

.product-price {
  color: var(--red);
  font-family: medium, sans-serif;
}
