@font-face {
  font-family: regular;
  src: url("../assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: bold;
  src: url("../assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: light;
  src: url("../assets/fonts/static/RedHatText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: medium;
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* #root {
  /* //max-width: 70rem; 
  display: flex;
  justify-content: center;
} */

body {
  margin: 1rem;
  padding: 0;
  font-family: reqular, sans-serif;
  background-color: hsl(13, 31%, 94%);
}
