:root {
  --red: hsl(14, 86%, 42%);
  --product-font-size: 16px;
  --brand-font-size: 14px;
  --darkest-rose: hsl(14, 65%, 9%);
  --dark-rose: hsl(12, 20%, 44%);
  --rose: hsl(7, 20%, 60%);
  --light-rose: hsl(14, 25%, 72%);
  --lightest-rose: hsl(13, 31%, 94%);
}

@font-face {
  font-family: regular;
  src: url("../assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: bold-font;
  src: url("../assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: light-font;
  src: url("../assets/fonts/static/RedHatText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: medium-font;
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 1.2rem;
  padding: 0;
  font-family: reqular, sans-serif;
  background-color: hsl(13, 31%, 94%);
}

html,
body {
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.item-count {
  color: var(--red);
  font-family: medium-font, sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
}

.price-per-item {
  color: var(--light-rose);
  font-size: 0.7rem;
}

.item-total {
  color: var(--rose);
  font-family: medium-font, sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
}
